<a href="https://colab.research.google.com/github/KnzMcn/Kaggle_Competition_Compilation/blob/main/KNN_Prediction_of_Titanic_Survivors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

An attempt to predict the survivors of the Titanic using KNN

# Import the necessities

In [31]:
# import the libraries
import zipfile
from google.colab import drive

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier

In [5]:
# import the dataset using the API from Kaggle
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json 
!kaggle competitions download -c titanic

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (1.5.13)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (3.4)
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 2.27MB/s]

# Preprocess the dataset

In [6]:
# extract from zipfile
zip_ref = zipfile.ZipFile('/content/titanic.zip', 'r')
zip_ref.extractall('/content/')
zip_ref.close()

In [8]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

In [9]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [30]:
# check if rows have missing values
train.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [37]:
# impute missing values
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
train.Age = imputer.fit_transform(train['Age'].values.reshape(-1, 1))[:, 0]

In [38]:
# remove the labels
X_train = train.drop(['Survived', 'Name', 'PassengerId', 'Ticket', 'Cabin', 'Embarked'], axis = 1)
y_train = train['Survived']

In [39]:
X_train

     Pclass     Sex        Age  SibSp  Parch     Fare
0         3    male  22.000000      1      0   7.2500
1         1  female  38.000000      1      0  71.2833
2         3  female  26.000000      0      0   7.9250
3         1  female  35.000000      1      0  53.1000
4         3    male  35.000000      0      0   8.0500
..      ...     ...        ...    ...    ...      ...
886       2    male  27.000000      0      0  13.0000
887       1  female  19.000000      0      0  30.0000
888       3  female  29.699118      1      2  23.4500
889       1    male  26.000000      0      0  30.0000
890       3    male  32.000000      0      0   7.7500

[891 rows x 6 columns]

In [40]:
y_train[:6]

0    0
1    1
2    1
3    1
4    0
5    0
Name: Survived, dtype: int64

In [42]:
# one hot encoding
X_train_encoded = pd.get_dummies(data = X_train, columns = ['Sex'])
X_train_encoded

     Pclass        Age  SibSp  Parch     Fare  Sex_female  Sex_male
0         3  22.000000      1      0   7.2500           0         1
1         1  38.000000      1      0  71.2833           1         0
2         3  26.000000      0      0   7.9250           1         0
3         1  35.000000      1      0  53.1000           1         0
4         3  35.000000      0      0   8.0500           0         1
..      ...        ...    ...    ...      ...         ...       ...
886       2  27.000000      0      0  13.0000           0         1
887       1  19.000000      0      0  30.0000           1         0
888       3  29.699118      1      2  23.4500           1         0
889       1  26.000000      0      0  30.0000           0         1
890       3  32.000000      0      0   7.7500           0         1

[891 rows x 7 columns]

# Training the model

In [43]:
# initialize
knn = KNeighborsClassifier(n_neighbors = 3)

In [44]:
knn.fit(X_train_encoded, y_train)

KNeighborsClassifier(n_neighbors=3)

# Evaluation

In [ ]:
y_pred = knn.predict()